<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="RealEstateEntities" connectionString="metadata=res://../RealEstateDataLayer/Model1.csdl|res://../RealEstateDataLayer/Model1.ssdl|res://../RealEstateDataLayer/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDARO74-PC\MSSQLSERVER2008;Initial Catalog=RealEstateDB;Persist Security Info=True;User ID=realestateuser;Password=victorinox;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RealEstateServices.RealEstateService">
        <endpoint address="" behaviorConfiguration="RealEstateServices.RealEstateServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="RealEstateServices.RealEstateService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RealEstateServices.RealEstateServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
